.btn-custom-primary.btn {
  background-color: #ff9c3f !important; 
  border-color: #ffa189 !important; 
}

.btn-custom-primary.btn:hover {
  background-color: #ffdc3f !important;
}

.btn-custom-primary.btn:active,
.btn-custom-primary.btn.active,
.btn-custom-primary.btn.checked {
  background-color: #d6cd48 !important; 
  border-color: #acb845 !important;
}