.map-container {
    height: 500px;
    width: 50%; 
    margin: 100px auto;
  }
  
  .map-title {
    text-align: center;
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
  }
  
  .leaflet-container {
    height: 100%;
    width: 100%;
  }